{% extends 'layout.html'%}

{% block title%}
    Transactions
{% endblock title %}
{% block mainTitle %}
    <h1>Transactions</h1>
{% endblock mainTitle %}
{%block main%}
{% block content %}
    
    {% for t in transactions %}
    <h2> {{t.date|date:"M j, Y"}} </h2>
    <p>{{ t.title}} - {{ t.getTransactionType }}</p>
    <p>${{ t.amount}}</p>
    {% if not t.getTransactionType == 'Income' %}
        <p>{{ t.amount }} - {{ t.percentage|floatformat:2 }}% of total expenses</p>
    {% endif %}
    <br>
    {% endfor %}
    <h2> {{ totalExpense}}</h2>
{% endblock content %}
{%endblock main%}